<div class="container">
  <div>
    <br />
    <div class="main-div">
      <mat-card-title>
        <h3>{{titulo}}</h3>
      </mat-card-title>
    </div>
    <br />
    <mat-card-content>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome Completo</th>
            <th>Login</th>
            <th>Senha</th>
            <th>Email</th>
            <th>Contratação</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let usuario of usuarios | paginate: { itemsPerPage: contador, currentPage: paginaAtual } ; let i = index;">
            <td>{{ usuario.nomeUsuario }}</td>
            <td>{{ usuario.loginUsuario }}</td>
            <td>{{ usuario.senhaUsuario }}</td>
            <td>{{ usuario.emailUsuario }}</td>
            <td>{{ usuario.dtInicioUsuario }}</td>
            <td>
              <a (click)="editar(usuario.id, i);"><span class="material-icons">edit</span></a>
              &nbsp;&nbsp;&nbsp;
              <a (click)="excluir(usuario.id, i);"><span class="material-icons">clear</span></a>
            </td>
          </tr>
          <br />
        </tbody>
      </table>
    </mat-card-content>
    <div class="text-right">
      <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo">
      </pagination-controls>
    </div>
  </div>
